# packages in environment at C:\Users\sreyus\anaconda3\envs\tensorflow:
#
# Name                    Version                   Build  Channel
_r-mutex                  1.0.0               anacondar_1
_tflow_select             2.2.0                     eigen
absl-py                   0.12.0           py37haa95532_0
aiohttp                   3.7.4            py37h2bbff1b_1
alabaster                 0.7.12                   py37_0
albumentations            1.0.0                    pypi_0    pypi
appdirs                   1.4.4                    pypi_0    pypi
argh                      0.26.2                   py37_0
argon2-cffi               20.1.0           py37h2bbff1b_1
astor                     0.8.1            py37haa95532_0
astroid                   2.5              py37haa95532_1
astunparse                1.6.3                    pypi_0    pypi
async-timeout             3.0.1            py37haa95532_0
async_generator           1.10             py37h28b3542_0
atomicwrites              1.4.0                      py_0
attrs                     20.3.0             pyhd3eb1b0_0
audioread                 2.1.9                    pypi_0    pypi
autopep8                  1.5.5              pyhd3eb1b0_0
babel                     2.9.0              pyhd3eb1b0_0
backcall                  0.2.0              pyhd3eb1b0_0
bcrypt                    3.2.0            py37he774522_0
blas                      1.0                         mkl
bleach                    3.3.0              pyhd3eb1b0_0
blinker                   1.4              py37haa95532_0
brotlipy                  0.7.0           py37h2bbff1b_1003
bzip2                     1.0.8                he774522_0
ca-certificates           2021.7.5             haa95532_1
cached-property           1.5.2                    pypi_0    pypi
cachetools                4.2.1              pyhd3eb1b0_0
certifi                   2021.5.30        py37haa95532_0
cffi                      1.14.5           py37hcd4344a_0
chardet                   3.0.4           py37haa95532_1003
click                     7.1.2              pyhd3eb1b0_0
cloudpickle               1.6.0                      py_0
cmake                     3.19.6               h9ad04ae_0
colorama                  0.4.4              pyhd3eb1b0_0
console_shortcut          0.1.1                         4
coverage                  5.5              py37h2bbff1b_2
cryptography              3.4.6            py37h71e12ea_0
cudatoolkit               10.2.89              h74a9793_1
cycler                    0.10.0                   py37_0
cython                    0.29.22          py37hd77b12b_0
decorator                 4.4.2              pyhd3eb1b0_0
defusedxml                0.7.1              pyhd3eb1b0_0
diff-match-patch          20200713                   py_0
discord-py                2.0.0a3206+gdbd9ed2c          pypi_0    pypi
distro                    1.5.0              pyhd3eb1b0_1
docutils                  0.16                     py37_1
entrypoints               0.3                      py37_0
filelock                  3.0.12                   pypi_0    pypi
flake8                    3.8.4                      py_0
flatbuffers               1.12                     pypi_0    pypi
freetype                  2.10.4               hd328e21_0
future                    0.18.2                   py37_1
gast                      0.4.0                    pypi_0    pypi
google-auth               1.27.1             pyhd3eb1b0_0
google-auth-oauthlib      0.4.3              pyhd3eb1b0_0
google-pasta              0.2.0                      py_0
grpcio                    1.34.1                   pypi_0    pypi
h5py                      3.1.0                    pypi_0    pypi
hdf5                      1.8.20               hac2f561_1
huggingface-hub           0.0.8                    pypi_0    pypi
icc_rt                    2019.0.0             h0cc432a_1
icu                       58.2                 ha925a31_3
idna                      2.10               pyhd3eb1b0_0
imageio                   2.9.0                    pypi_0    pypi
imagesize                 1.2.0              pyhd3eb1b0_0
importlib-metadata        2.0.0                      py_1
importlib_metadata        2.0.0                         1
intel-openmp              2020.2                      254
intervaltree              3.1.0                      py_0
ipykernel                 5.3.4            py37h5ca1d4c_0
ipython                   7.21.0           py37hd4e2768_0
ipython_genutils          0.2.0              pyhd3eb1b0_1
ipywidgets                7.6.3              pyhd3deb0d_0    conda-forge
isort                     5.7.0              pyhd3eb1b0_0
jedi                      0.17.1                   py37_0
jinja2                    2.11.3             pyhd3eb1b0_0
joblib                    1.0.1                    pypi_0    pypi
jpeg                      9b                   hb83a4c4_2
jsonschema                3.2.0                      py_2
jupyter_client            6.1.7                      py_0
jupyter_core              4.7.1            py37haa95532_0
jupyterlab_pygments       0.1.2                      py_0
jupyterlab_widgets        1.0.0              pyhd8ed1ab_1    conda-forge
keras                     2.3.1                         0
keras-applications        1.0.8                      py_1
keras-base                2.3.1                    py37_0
keras-nightly             2.5.0.dev2021032900          pypi_0    pypi
keras-preprocessing       1.1.2              pyhd3eb1b0_0
keyring                   22.3.0           py37haa95532_0
kiwisolver                1.3.1            py37hd77b12b_0
lazy-object-proxy         1.5.2            py37h2bbff1b_0
libopencv                 3.4.2                h20b85fd_0
libpng                    1.6.37               h2a8f88b_0
libprotobuf               3.14.0               h23ce68f_0
librosa                   0.8.0                    pypi_0    pypi
libsodium                 1.0.18               h62dcd97_0
libspatialindex           1.9.3                h33f27b4_0
libtiff                   4.2.0                he0120a3_0
libuv                     1.40.0               he774522_0
llvmlite                  0.36.0                   pypi_0    pypi
lz4-c                     1.9.3                h2bbff1b_0
m2w64-bwidget             1.9.10                        2
m2w64-bzip2               1.0.6                         6
m2w64-expat               2.1.1                         2
m2w64-fftw                3.3.4                         6
m2w64-flac                1.3.1                         3
m2w64-gcc-libgfortran     5.3.0                         6
m2w64-gcc-libs            5.3.0                         7
m2w64-gcc-libs-core       5.3.0                         7
m2w64-gettext             0.19.7                        2
m2w64-gmp                 6.1.0                         2
m2w64-gsl                 2.1                           2
m2w64-libiconv            1.14                          6
m2w64-libjpeg-turbo       1.4.2                         3
m2w64-libogg              1.3.2                         3
m2w64-libpng              1.6.21                        2
m2w64-libsndfile          1.0.26                        2
m2w64-libtiff             4.0.6                         2
m2w64-libvorbis           1.3.5                         2
m2w64-libwinpthread-git   5.0.0.4634.697f757               2
m2w64-libxml2             2.9.3                         4
m2w64-mpfr                3.1.4                         4
m2w64-openblas            0.2.19                        1
m2w64-pcre                8.38                          2
m2w64-speex               1.2rc2                        3
m2w64-speexdsp            1.2rc3                        3
m2w64-tcl                 8.6.5                         3
m2w64-tk                  8.6.5                         3
m2w64-tktable             2.10                          5
m2w64-wineditline         2.101                         5
m2w64-xz                  5.2.2                         2
m2w64-zlib                1.2.8                        10
markdown                  3.3.4            py37haa95532_0
markupsafe                1.1.1            py37hfa6e2cd_1
matplotlib                3.3.2                         0
matplotlib-base           3.3.2            py37hba9282a_0
mccabe                    0.6.1                    py37_1
mistune                   0.8.4           py37hfa6e2cd_1001
mkl                       2020.2                      256
mkl-service               2.3.0            py37h196d8e1_0
mkl_fft                   1.3.0            py37h46781fe_0
mkl_random                1.1.1            py37h47e9c7a_0
msys2-conda-epoch         20160418                      1
multidict                 5.1.0            py37h2bbff1b_2
nbclient                  0.5.3              pyhd3eb1b0_0
nbconvert                 6.0.7                    py37_0
nbformat                  5.1.2              pyhd3eb1b0_1
nest-asyncio              1.5.1              pyhd3eb1b0_0
networkx                  2.5.1                    pypi_0    pypi
ninja                     1.10.2           py37h6d14046_0
notebook                  6.2.0            py37haa95532_0
numba                     0.53.0                   pypi_0    pypi
numpy                     1.19.2           py37hadc3359_0
numpy-base                1.19.2           py37ha3acd2a_0
numpydoc                  1.1.0              pyhd3eb1b0_1
oauthlib                  3.1.0                      py_0
olefile                   0.46                     py37_0
opencv                    3.4.2            py37h40b0b35_0
opencv-python-headless    4.5.2.54                 pypi_0    pypi
openssl                   1.1.1l               h2bbff1b_0
opt-einsum                3.3.0                    pypi_0    pypi
packaging                 20.9               pyhd3eb1b0_0
pandas                    1.2.3            py37hf11a4ad_0
pandoc                    2.11                 h9490d1a_0
pandocfilters             1.4.3            py37haa95532_1
paramiko                  2.7.2                      py_0
parso                     0.7.0                      py_0
pexpect                   4.8.0              pyhd3eb1b0_3
pickleshare               0.7.5           pyhd3eb1b0_1003
pillow                    8.1.2            py37h4fa10fc_0
pip                       21.0.1           py37haa95532_0
pluggy                    0.13.1                   py37_0
pooch                     1.3.0                    pypi_0    pypi
prometheus_client         0.9.0              pyhd3eb1b0_0
prompt-toolkit            3.0.8                      py_0
protobuf                  3.14.0           py37hd77b12b_1
psutil                    5.8.0            py37h2bbff1b_1
ptyprocess                0.7.0              pyhd3eb1b0_2
py-opencv                 3.4.2            py37hc319ecb_0
pyasn1                    0.4.8                      py_0
pyasn1-modules            0.2.8                      py_0
pycodestyle               2.6.0              pyhd3eb1b0_0
pycparser                 2.20                       py_2
pydocstyle                5.1.1                      py_0
pyflakes                  2.2.0              pyhd3eb1b0_0
pygments                  2.8.1              pyhd3eb1b0_0
pyjwt                     1.7.1                    py37_0
pylint                    2.7.2            py37haa95532_1
pynacl                    1.4.0            py37h62dcd97_1
pyopenssl                 20.0.1             pyhd3eb1b0_1
pyparsing                 2.4.7              pyhd3eb1b0_0
pyqt                      5.9.2            py37h6538335_2
pyrsistent                0.17.3           py37he774522_0
pysocks                   1.7.1                    py37_1
python                    3.7.9                h60c2a47_0
python-dateutil           2.8.1              pyhd3eb1b0_0
python-jsonrpc-server     0.4.0                      py_0
python-language-server    0.35.1                     py_0
python_abi                3.7                     1_cp37m    conda-forge
pytorch                   1.8.0           py3.7_cuda10.2_cudnn7_0    pytorch
pytz                      2021.1             pyhd3eb1b0_0
pywavelets                1.1.1                    pypi_0    pypi
pywin32                   227              py37he774522_1
pywin32-ctypes            0.2.0                 py37_1001
pywinpty                  0.5.7                    py37_0
pyyaml                    5.4.1            py37h2bbff1b_1
pyzmq                     20.0.0           py37hd77b12b_1
qdarkstyle                2.8.1                      py_0
qt                        5.9.7            vc14h73c81de_0
qtawesome                 1.0.1                      py_0
qtconsole                 5.0.2              pyhd3eb1b0_0
qtpy                      1.9.0                      py_0
r-assertthat              0.2.1             r36h6115d3f_0
r-base                    3.6.1                hf18239d_1
r-base64enc               0.1_3             r36h6115d3f_4
r-cli                     1.1.0             r36h6115d3f_0
r-config                  0.3               r36h6115d3f_0
r-crayon                  1.3.4             r36h6115d3f_0
r-fansi                   0.4.0             r36h6115d3f_0
r-glue                    1.3.1             r36h6115d3f_0
r-jsonlite                1.6               r36h6115d3f_0
r-lattice                 0.20_38           r36h6115d3f_0
r-magrittr                1.5               r36h6115d3f_4
r-matrix                  1.2_17            r36h6115d3f_0
r-pillar                  1.3.1             r36h6115d3f_0
r-pkgconfig               2.0.2             r36h6115d3f_0
r-processx                3.3.0             r36h6115d3f_0
r-ps                      1.3.0             r36h6115d3f_0
r-purrr                   0.3.2             r36h6115d3f_0
r-r6                      2.4.0             r36h6115d3f_0
r-rcpp                    1.0.1             r36h6115d3f_0
r-reticulate              1.12              r36h6115d3f_0
r-rlang                   0.3.4             r36h6115d3f_0
r-rstudioapi              0.10              r36h6115d3f_0
r-tensorflow              1.13.1            r36h6115d3f_0
r-tfruns                  1.4               r36h6115d3f_0
r-tibble                  2.1.1             r36h6115d3f_0
r-tidyselect              0.2.5             r36h6115d3f_0
r-utf8                    1.1.4             r36h6115d3f_0
r-whisker                 0.3_2             r36h6115d3f_4
r-yaml                    2.2.0             r36h6115d3f_0
regex                     2021.4.4                 pypi_0    pypi
requests                  2.25.1             pyhd3eb1b0_0
requests-oauthlib         1.3.0                      py_0
resampy                   0.2.2                    pypi_0    pypi
rope                      0.18.0                     py_0
rsa                       4.7.2              pyhd3eb1b0_1
rtree                     0.9.4            py37h21ff451_1
sacremoses                0.0.45                   pypi_0    pypi
scikit-build              0.11.1           py37hd77b12b_2
scikit-image              0.18.1                   pypi_0    pypi
scikit-learn              0.24.1                   pypi_0    pypi
scipy                     1.6.1            py37h14eb087_0
seaborn                   0.11.1             pyhd3eb1b0_0
send2trash                1.5.0              pyhd3eb1b0_1
setuptools                52.0.0           py37haa95532_0
sip                       4.19.8           py37h6538335_0
six                       1.15.0           py37haa95532_0
snowballstemmer           2.1.0              pyhd3eb1b0_0
sortedcontainers          2.3.0              pyhd3eb1b0_0
soundfile                 0.10.3.post1             pypi_0    pypi
sphinx                    3.5.2              pyhd3eb1b0_0
sphinxcontrib-applehelp   1.0.2              pyhd3eb1b0_0
sphinxcontrib-devhelp     1.0.2              pyhd3eb1b0_0
sphinxcontrib-htmlhelp    1.0.3              pyhd3eb1b0_0
sphinxcontrib-jsmath      1.0.1              pyhd3eb1b0_0
sphinxcontrib-qthelp      1.0.3              pyhd3eb1b0_0
sphinxcontrib-serializinghtml 1.1.4              pyhd3eb1b0_0
spyder                    4.1.5                    py37_0
spyder-kernels            1.9.4                    py37_0
sqlite                    3.33.0               h2a8f88b_0
tensorboard               2.5.0                    pypi_0    pypi
tensorboard-data-server   0.6.1                    pypi_0    pypi
tensorboard-plugin-wit    1.6.0                      py_0
tensorflow                2.1.0           eigen_py37hd727fc0_0
tensorflow-base           2.1.0           eigen_py37h49b2757_0
tensorflow-estimator      2.5.0                    pypi_0    pypi
tensorflow-gpu            2.5.0                    pypi_0    pypi
termcolor                 1.1.0            py37haa95532_1
terminado                 0.9.2            py37haa95532_0
testpath                  0.4.4              pyhd3eb1b0_0
threadpoolctl             2.1.0                    pypi_0    pypi
tifffile                  2021.6.14                pypi_0    pypi
tk                        8.6.10               he774522_0
tokenizers                0.10.3                   pypi_0    pypi
toml                      0.10.1                     py_0
torchaudio                0.8.0                      py37    pytorch
torchsummary              1.5.1                    pypi_0    pypi
torchvision               0.9.0                py37_cu102    pytorch
tornado                   6.1              py37h2bbff1b_0
tqdm                      4.61.0                   pypi_0    pypi
traitlets                 5.0.5              pyhd3eb1b0_0
transformers              4.6.1                    pypi_0    pypi
typed-ast                 1.4.2            py37h2bbff1b_1
typing-extensions         3.7.4.3              hd3eb1b0_0
typing_extensions         3.7.4.3            pyh06a4308_0
ujson                     4.0.2            py37hd77b12b_0
urllib3                   1.26.3             pyhd3eb1b0_0
vc                        14.2                 h21ff451_1
vs2015_runtime            14.27.29016          h5e58377_2
watchdog                  1.0.2            py37haa95532_1
wcwidth                   0.2.5                      py_0
webencodings              0.5.1                    py37_1
werkzeug                  0.16.1                     py_0
wheel                     0.36.2             pyhd3eb1b0_0
widgetsnbextension        3.5.1            py37h03978a9_4    conda-forge
win_inet_pton             1.1.0            py37haa95532_0
wincertstore              0.2                      py37_0
winpty                    0.4.3                         4
wrapt                     1.12.1           py37he774522_1
xz                        5.2.5                h62dcd97_0
yaml                      0.2.5                he774522_0
yapf                      0.30.0                     py_0
yarl                      1.6.3            py37h2bbff1b_0
zeromq                    4.3.3                ha925a31_3
zipp                      3.4.0              pyhd3eb1b0_0
zlib                      1.2.11               h62dcd97_4
zstd                      1.4.5                h04227a9_0